# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Environment variables
.env

# Django
*.log
*.pot
/staticfiles/
/media/
db.sqlite3

# IDEs
.vscode/
.idea/
*.swp

# System
.DS_Store
Thumbs.db